<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Overwatch - Crime Watcher</title>

    <link rel="icon" type="image/png" href="/favicon.ico">
    <link rel="stylesheet" href="/global.93e11765323070221231.css">
    <link rel="stylesheet" href="/bundle.59dc9f5725e56e4a15e2.css">

    <script>
    localStorage.setItem('dataviz.api.token', '<%= locals.token %>');
    </script>
    <script defer="" src="/bundle.9825c00c815fb689165c.js"></script>
</head>

<body>
</body>

</html>