<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Overwatch - Crime Watcher</title>

    <link rel="icon" type="image/png" href="/favicon.ico">
    <link rel="stylesheet" href="/global.8809099c57f23a1d608f.css">
    <link rel="stylesheet" href="/bundle.fdccf768d31a415903c6.css">

    <script>
    localStorage.setItem('dataviz.api.token', '<%= locals.token %>');
    </script>
    <script defer="" src="/bundle.494aeb1e70735cb84814.js"></script>
</head>

<body>
</body>

</html>